/*************************** Theme Colours****************************/
// Define theme colour scheme
$theme-color-primary: #8B37FF;


$theme-text-color-primary: #2e3543;
$theme-text-color-secondary: lighten($theme-text-color-primary, 20%);
$theme-text-color-light: lighten($theme-text-color-primary, 50%);

$theme-bg-light: #f5f5f5;
$theme-bg-dark: $theme-color-primary;


$theme-divider: #efefef;

$theme-color-tick: #5ab66e;
$theme-color-new: #5ab66e;
$theme-error: #EC575B;

$single-col-max: 760px;



/*************************** Variables Section. *****************************/
// Create variables to override the default value for variables used in the Bootstrap SCSS files.

$gray-100: lighten($theme-text-color-secondary, 65%);
$gray-200: lighten($theme-text-color-secondary, 55%);
$gray-300: lighten($theme-text-color-secondary, 50%);
$gray-400: lighten($theme-text-color-secondary, 45%);
$gray-500: lighten($theme-text-color-secondary, 40%);
$gray-600: lighten($theme-text-color-secondary, 30%);
$gray-700: lighten($theme-text-color-secondary, 20%);
$gray-800: lighten($theme-text-color-secondary, 10%);
$gray-900: $theme-text-color-primary;


/* Override BS5 sass color */
$primary: $theme-color-primary;
$secondary: $theme-text-color-secondary;


/*************************** Import Bootstrap  *****************************/
@import "bootstrap/scss/bootstrap.scss";


/*************************** Theme Styles Section ****************************/
@import "theme/styles.scss"

